*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    font-family: "Ink free", Arial, san-serif;
    text-align: center;
    font-size: 22px;
}

section {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border: 2px solid rgb(115, 112, 112);
    border-radius: 10px;
    width: 300px;
    background-color: rgba(0, 0, 0);
    color: #fff;
}

h1,
p {
    padding-left: 10px;
}


table {
    display: inline-block;
    width: 100%;
}

.month {
    background-color: rgb(61, 58, 58);
    width: 100%;
    padding-top: 1px;
}

.month,
table {
    border-radius: 0 0 10px 10px;
}

th,
td {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.past,
.future {
    color: rgb(149, 146, 146);
}


td:hover {
    background-color: rgb(104, 102, 102);
    border-radius: 50%;
    color: white
}

.active {
    background-color: rgb(0, 170, 255);
    border-radius: 50%;
    color: black;
}

.active:hover {
    background-color: rgb(4, 108, 159);
    border-radius: 50%;
    color: black;   
}

td:active {
    background-color: rgb(104, 102, 102);
    border-radius: 50%;
    color:  rgb(0, 170, 255);
    border: 2px solid rgb(0, 170, 255);
}

select {
    width: 100%;
    padding: 10px;
    margin-right: 5px;
    background: rgb(61, 58, 58);
    color: #fff;
    border: none;
}

.opts {
    min-height: 2em;
}